.main-header{
  height: 45px;
  display: grid;
  width: 100%;
  grid-template-columns: 5% 60px 1fr 60px 5%  ;
  grid-template-areas: ". logo . toggle .";
  background-color: color(claro);
  position: fixed;
  z-index: 1000;
  box-shadow: 2px 2px 15px color(2);
  @media screen and (min-width:$cel){
    
    height: 50px;
    
  }
  @media screen and (min-width:$tablet){
    grid-template-columns: 3% 80px 1fr 80px 3%  ;
  grid-template-areas: ". logo menu user .";
  height: 50px;
  }
  @media screen and (min-width:$laptop){
    grid-template-columns: 3% 80px 1fr 80px 3%  ;
  grid-template-areas: ". logo menu user .";
  }
  @media screen and (min-width:$desk){
    grid-template-columns: 3% 1fr 1000px 1fr 3%  ;
  grid-template-areas: ". logo menu user .";
  }
}
.main-header__item1{
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  & a{
    
    display: flex;
  justify-content: center;
  align-items: center;
  }
}
  .imagen-menu{
   
    height: 45px;
  }



.main-header__item2{
  grid-area: menu;
  align-self: center;
  justify-self: center;
  display: none;
    @media screen and (min-width:$tablet){
      display: inline-block;
    }
}

.main-header__item2__active{
  position: fixed;
  height: 30rem;
  width: 90%;
  background-color: color(2);
  border: 5px solid color(oscuro);
  border-radius: 5px;
  top: 9vh;
 left: 5%;
 opacity: 0.95;
}

  .main-menu-list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-items: center;  
    align-items: center;
    & li{
      height: 50px;
      display: flex;
       justify-items: center;  
       align-items: center;
      &:hover{
        border-bottom: 3px solid color(2);
      }
    }
    & a{
      font-family: $font-f-uno;
      color: color(oscuro);
      font-size: 20px;
      margin: 0 20px;

  
    }
    @media screen and (max-width:$laptop){
      & li:first-child{
        display: none;
      }
    }
  }

$num_items:4;
  .main-menu-list__active{
    
    padding-top:3vh;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat($num_items+1,4rem);
    grid-template-areas: ". ";
    justify-items: center;  
    align-items: center;
    & li:first-child{
      display: none;
    }
    & li{
      display: flex;
    justify-items: center;  
    align-items: center;
    height: 60px;
    }  
      
      & a{
        font-family: $font-f-uno;
        color: color(oscuro);
        font-size: 30px;
    
        margin: auto;
        padding: 10px 80px;
    
    }
   }



.main-header__item3{
  grid-area: user;
  place-self: center;
  color: color(oscuro);
    margin-top: 0;
    display: none;
    @media screen and (min-width:$tablet){
      display: flex;
    }
  & a{
    color: color(oscuro);
    margin: 0 0.5rem ;
    font-size: 10px;
}}
.main-header__item3__active{
  position: fixed;
  height: 5rem;
  width: 90%;
  background-color: transparent;
  top: calc(4rem * #{$num_items} + 16vh);
 left: 5%;
 display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    justify-items: center;  
    align-items: center;
    
    &__first{
      font-family: raleway;
  color: color(oscuro);
  font-size: 15px;
  
  grid-column-start: 2;
}  &__second{
  font-family: raleway;
color: color(oscuro);
font-size: 15px;

grid-column-start: 3;
}
&__third{
  font-family: raleway;
color: color(oscuro);
font-size: 18px;

grid-column-start: 4;
}

}
.main-header__item4{
  height: 2.5rem;
  display: grid;
 grid-area: toggle;
 padding: 0 10%;
 place-self: center;
   @media screen and (min-width:$tablet){
  display: none
  }
  @media screen and (min-width:$laptop){
  display: none
  }
  &:hover{
    cursor: pointer;
  }
}
.main-menu-toggle
{
  $color: color(oscuro);
  width: 2.5rem;
  height: 1.7rem;
  place-self: center;
  background: linear-gradient($color 18%, transparent 18%,transparent 41%,$color
   41%,$color 59%,transparent 59%,transparent 82%,$color 82%,$color 100%,);
  
}


.main-header__social{
  position: fixed;
 
  
  left: 25%;
  width: 50%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  & a{
    border-radius: 30%;
    color: color(oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    width: 1.8rem;
    margin: 0 0.8rem;
    & i{
      font-size: 2.2rem;
    }
  }
  & .face:hover{
    color: #4267B2;
    
   background:white;
  }
  & .insta:hover{
    color: white;
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  & .tres:hover{
    color: #1da1f2;
    
   background:white;
  }
  @media screen and (min-width:$cel){
    height: 50px;
  }
  @media screen and (min-width:$tablet){
   
  height: 150px;
  width: 10%;
  left: 90%;
    flex-direction: column;
    justify-content: space-around;
  top: 60px;
  & a{
    height: 2rem;
    color: color(oscuro);
   //; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
    margin: 0;
    
   height: 2rem;
    i {
      font-size: 2.4rem;
    }
  
    
  }
  


    }
    
}
