/*
  This boilerplate is based in ITCSS and SMACSS
*/
*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "sans-serif";
  background-color: #3C4043;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

p, h3, h1, h2 {
  margin: 0;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.layout {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 45px;
  grid-template-areas: ".";
}

@media screen and (min-width: 576px) {
  .layout {
    grid-template-rows: 50px;
  }
}

@media screen and (min-width: 1001px) {
  .layout {
    grid-template-columns: 1fr repeat(10, 100px) 1fr;
  }
}

.inicio-main {
  background-color: #F1F3F4;
  height: calc(100vh - 45px);
  grid-column: 1 / 11;
  grid-row: 2/ 12;
  background-size: cover;
  background-position: -105px center;
}

@media screen and (min-width: 576px) {
  .inicio-main {
    background-position: -105px center;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .inicio-main {
    background-position: center center;
    grid-row: 2/ 12;
  }
}

@media screen and (min-width: 1001px) {
  .inicio-main {
    height: calc(100vh - 50px);
    background-position: left;
    grid-column: 1 / 13;
    grid-row: 2/ 12;
  }
}

.logo {
  height: calc((100vh - 45px)* 1 / 10);
  display: grid;
  grid-row: 2 /3;
  grid-column: 4 / span 6;
  z-index: 2;
}

.logo img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: auto;
}

@media (max-height: 1001px) and (orientation: landscape) {
  .logo img {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-height: 1001px) and (orientation: landscape) {
  .logo {
    background-position: center center;
    grid-row: 2 /4;
    height: calc((100vh - 50px)* 2 / 10);
  }
}

@media screen and (min-width: 768px) {
  .logo {
    grid-row: 2 /4;
    height: calc((100vh - 50px)* 2 / 10);
  }
}

.logoCentrado {
  height: calc((100vh - 45px)* 1 / 10);
  display: grid;
  grid-row: 2 /3;
  grid-column: 3 / span 6;
  z-index: 2;
}

.logoCentrado img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: auto;
}

@media (max-height: 1001px) and (orientation: landscape) {
  .logoCentrado img {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media (max-height: 1001px) and (orientation: landscape) {
  .logoCentrado {
    background-position: center center;
    grid-row: 2 /4;
    height: calc((100vh - 50px)* 2 / 10);
  }
}

@media screen and (min-width: 768px) {
  .logoCentrado {
    grid-row: 2 /4;
    height: calc((100vh - 50px)* 2 / 10);
  }
}

@media screen and (min-width: 1001px) {
  .logoCentrado {
    grid-column: 4 / span 6;
  }
}

.separador1 {
  grid-column: 1 / 11;
  grid-row: 12 / 13;
  height: 2.5rem;
  background-color: #FFCF9D;
}

@media screen and (min-width: 576px) {
  .separador1 {
    height: 2.5rem;
    grid-column: 1 / 13;
  }
}

.productos {
  grid-column: 1 / 11;
  grid-row: 13/ 16;
  min-height: 100vh;
  background-color: #F1F3F4;
}

@media screen and (min-width: 576px) {
  .productos {
    background-position: 25% center;
  }
}

@media screen and (min-width: 1001px) {
  .productos {
    grid-column: 1 / 13;
  }
}

.title_productos {
  position: absolute;
  -webkit-transform: translate(0%, 0);
          transform: translate(0%, 0);
}

.contenedor {
  padding: 8rem 0;
  display: grid;
  grid-column: 1 / 11;
  grid-row: 14/ 15;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1F3F4;
  grid-row-gap: 5vh;
}

@media screen and (min-width: 576px) {
  .contenedor {
    background-position: 25% center;
  }
}

@media screen and (min-width: 1001px) {
  .contenedor {
    grid-column: 2 / 12;
  }
}

.article_hombre {
  grid-column: 1 / 11;
  grid-row: 16/ 21;
  height: 100vh;
  background-image: url("/assets/img/fhombrem.jpg");
  background-size: cover;
  background-position: 25% center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 576px) {
  .article_hombre {
    height: 125vh;
    background-position: 25% center;
  }
}

@media screen and (min-width: 768px) {
  .article_hombre {
    height: calc(100vh);
    background-position: 30% center;
  }
}

@media screen and (min-width: 1001px) {
  .article_hombre {
    grid-column: 1 / 13;
  }
}

.separador2 {
  grid-column: 1 / 11;
  grid-row: 21 / 22;
  height: 2.5rem;
  background-color: #46798E;
}

@media screen and (min-width: 576px) {
  .separador2 {
    height: 2.5rem;
    grid-column: 1 / 13;
  }
}

.article_mujer {
  height: 100vh;
  grid-column: 1 / 11;
  grid-row: 22/ 27;
  background-image: url("/assets/img/fmujerxl.jpg");
  background-size: cover;
  background-position: 75% center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 576px) {
  .article_mujer {
    height: 125vh;
    background-position: 75% center;
  }
}

@media screen and (min-width: 768px) {
  .article_mujer {
    height: calc(100vh);
    background-position: 70% center;
  }
}

@media screen and (min-width: 1001px) {
  .article_mujer {
    grid-column: 1 / 13;
  }
}

.separador3 {
  grid-column: 1 / 11;
  grid-row: 27 / 28;
  height: 2.5rem;
  background-color: #FFCF9D;
}

@media screen and (min-width: 576px) {
  .separador3 {
    height: 2.5rem;
    grid-column: 1 / 13;
  }
}

.snow {
  grid-column: 1 / 11;
  grid-row: 28/ 34;
  height: 100vh;
  background-image: url("/assets/img/snowxl.jpg");
  background-size: cover;
  background-position: 75% center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 576px) {
  .snow {
    height: 125vh;
    background-position: 75% center;
  }
}

@media screen and (min-width: 768px) {
  .snow {
    height: calc(100vh);
    background-position: right;
  }
}

@media screen and (min-width: 1001px) {
  .snow {
    grid-column: 1 / 13;
  }
}

.footer {
  grid-column: 1 / 11;
  grid-row: 34 / 35;
  background-color: #3C4043;
  height: 12.5rem;
}

@media screen and (min-width: 1001px) {
  .footer {
    grid-column: 1 / 13;
  }
}

.main-header {
  height: 45px;
  display: grid;
  width: 100%;
  grid-template-columns: 3% 60px 1fr 60px 3%;
  grid-template-areas: ". logo . toggle .";
  background-color: #3C4043;
  position: fixed;
  z-index: 1000;
}

@media screen and (min-width: 576px) {
  .main-header {
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .main-header {
    grid-template-columns: 3% 80px 1fr 80px 3%;
    grid-template-areas: ". logo menu user .";
    height: 50px;
  }
}

@media screen and (min-width: 1001px) {
  .main-header {
    grid-template-columns: 3% 80px 1fr 80px 3%;
    grid-template-areas: ". logo menu user .";
  }
}

@media screen and (min-width: 1300px) {
  .main-header {
    grid-template-columns: 3% 1fr 1000px 1fr 3%;
    grid-template-areas: ". logo menu user .";
  }
}

.main-header__item1 {
  grid-area: logo;
  display: grid;
  align-self: center;
}

.imagen-menu {
  display: inline-block;
  height: 40px;
}

.main-header__item2 {
  grid-area: menu;
  align-self: center;
  justify-self: center;
  display: none;
}

@media screen and (min-width: 768px) {
  .main-header__item2 {
    display: inline-block;
  }
}

.main-menu-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu-list a {
  font-family: raleway;
  color: #F1F3F4;
  font-size: 20px;
  margin: 20px;
}

.main-header__item3 {
  grid-area: user;
  place-self: center;
  color: #F1F3F4;
  margin-top: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .main-header__item3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-header__item3 a {
  color: #F1F3F4;
  margin: 0 0.5rem;
  font-size: 13px;
}

.main-header__item4 {
  height: 2.5rem;
  display: grid;
  grid-area: toggle;
  place-self: center;
}

@media screen and (min-width: 768px) {
  .main-header__item4 {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .main-header__item4 {
    display: none;
  }
}

.main-menu-toggle {
  width: 2.5rem;
  height: 1.7rem;
  place-self: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, #F1F3F4), color-stop(18%, transparent), color-stop(41%, transparent), color-stop(41%, #F1F3F4), color-stop(59%, #F1F3F4), color-stop(59%, transparent), color-stop(82%, transparent), color-stop(82%, #F1F3F4), to(#F1F3F4));
  background: linear-gradient(#F1F3F4 18%, transparent 18%, transparent 41%, #F1F3F4 41%, #F1F3F4 59%, transparent 59%, transparent 82%, #F1F3F4 82%, #F1F3F4 100%);
}

.caja-producto {
  width: 280px;
  height: 390px;
}

.caja-producto-item1 img {
  background-color: white;
  width: 280px;
  height: auto;
  border: 1.5px solid #3C4043;
}

.caja-producto-item1 i {
  color: #3C4043;
  font-size: 28px;
  position: relative;
  -webkit-transform: translate(750%, -150%);
          transform: translate(750%, -150%);
}

.caja-producto-item2 {
  font-family: raleway;
  color: #3C4043;
  background-color: transparent;
  min-height: 80px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-fit-content -webkit-fit-content;
  grid-template-rows: fit-content fit-content;
  padding: 0 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.caja-producto-item2_title {
  -ms-flex-item-align: start;
      align-self: start;
  padding-top: 2%;
  border-top: 2px dotted #3C4043;
}

.caja-producto-item2_precio {
  -ms-flex-item-align: end;
      align-self: end;
  padding-bottom: 2%;
}

.title_productos {
  font-family: 'Anton', sans-serif;
  font-size: 21px;
  margin: 0;
  color: #3C4043;
}

.caja-producto-item2_title {
  font-weight: 0;
}

.caja-producto-item2_precio {
  font-weight: bold;
}

.fondo_caja {
  background-image: url("/assets/img/fms.jpg");
}

@media screen and (min-width: 576px) {
  .fondo_caja {
    grid-template-rows: 50px;
  }
}

@media screen and (min-width: 768px) {
  .fondo_caja {
    background-image: url("/assets/img/fmm.jpg");
  }
}

@media screen and (min-width: 1300px) {
  .fondo_caja {
    background-image: url("/assets/img/fml.jpg");
  }
}

.fondo_hombre {
  background-position: center center;
  background-image: url("/assets/img/guys.jpg");
}

@media screen and (min-width: 576px) {
  .fondo_hombre {
    grid-template-rows: 50px;
  }
}

@media screen and (min-width: 768px) {
  .fondo_hombre {
    background-image: url("/assets/img/guym.jpg");
  }
}

@media screen and (min-width: 1300px) {
  .fondo_hombre {
    background-image: url("/assets/img/guyl.jpg");
  }
}

.fondo_mujer {
  background-position: top;
  background-image: url("/assets/img/girls.jpg");
}

@media screen and (min-width: 576px) {
  .fondo_mujer {
    grid-template-rows: 50px;
  }
}

@media screen and (min-width: 768px) {
  .fondo_mujer {
    background-image: url("/assets/img/girlm.jpg");
  }
}

@media screen and (min-width: 1300px) {
  .fondo_mujer {
    background-image: url("/assets/img/girll.jpg");
  }
}

/*# sourceMappingURL=styles.css.map */
