/*
  This boilerplate is based in ITCSS and SMACSS
*/
*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "sans-serif";
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
  * Remove default margin.
  */
body {
  margin: 0;
}

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none;
}

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold;
}

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic;
}

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000;
}

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0;
}

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px;
}

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto;
}

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible;
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none;
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal;
}

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto;
}

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold;
}

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.layout {
  color: #D5D9DC;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, auto);
  grid-template-areas: "head" "my-main " "separador1" "my-article1" "separador2" "my-article2" "separador3" "my-aside "     "my-footer";
}

@media screen and (min-width: 576px) {
  .layout {
    grid-template-rows: 45px calc(100vh - 45px) 60px 125vh 60px 125vh 60px 125vh 200px;
  }
}

@media screen and (min-width: 768px) {
  .layout {
    grid-template-rows: 45px calc(100vh - 45px) 60px 100vh 60px 100vh 60px 100vh 200px;
  }
}

@media screen and (min-width: 992px) {
  .layout {
    grid-template-rows: 45px calc(100vh - 45px) 60px 100vh 60px 100vh 1fr 100vh 200px;
  }
}

main {
  height: 100vh;
  grid-area: my-main;
  background-image: url("/assets/img/fmxl.jpg");
  background-size: cover;
  background-position: -100px center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 576px) {
  main {
    background-position: left;
  }
}

@media screen and (min-width: 992px) {
  main {
    background-position: left;
  }
}

.logo-main {
  margin: auto;
  margin-top: 1vh;
  width: 60%;
  max-width: 600px;
  min-width: 200px;
  margin-left: 35%;
}

.logo-main img {
  display: inline-block;
}

@media screen and (min-width: 576px) {
  .logo-main {
    min-width: 400px;
    margin-left: 18vh;
    margin-top: 3vh;
  }
}

@media screen and (min-width: 768px) {
  .logo-main {
    margin: auto;
    margin-top: 3vh;
  }
}

.separador1 {
  grid-area: separador1;
  background-color: #46798E;
}

.article_hombre {
  height: 100vh;
  grid-area: my-article1;
  background-image: url("/assets/img/fhombre.jpg");
  background-size: cover;
  background-position: 25% center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 992px) {
  .article_hombre {
    background-position: left;
  }
}

.separador2 {
  grid-area: separador2;
  background-color: #3C4043;
}

.article_mujer {
  grid-area: my-article2;
  background-image: url("/assets/img/fmujerxl.jpg");
  background-size: cover;
  background-position: 75% center;
}

@media screen and (min-width: 992px) {
  .article_mujer {
    background-position: left;
  }
}

.separador3 {
  grid-area: separador3;
  background-color: #46798E;
}

aside {
  grid-area: my-aside;
  background-image: url("/assets/img/snowxl.jpg");
  background-size: cover;
  background-position: 80% center;
}

@media screen and (min-width: 992px) {
  aside {
    background-position: left;
  }
}

.footer {
  grid-area: my-footer;
  background-color: #3C4043;
}

.main-header {
  height: 45px;
  display: grid;
  width: 100%;
  grid-template-columns: 3% 60px 1fr 60px 3%;
  grid-template-areas: ". logo . toggle .";
  background-color: #3C4043;
  position: fixed;
}

@media screen and (min-width: 576px) {
  .main-header {
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .main-header {
    grid-template-columns: 3% 80px 1fr 80px 3%;
    grid-template-areas: ". logo menu user .";
  }
}

@media screen and (min-width: 992px) {
  .main-header {
    grid-template-columns: 3% 80px 1fr 80px 3%;
    grid-template-areas: ". logo menu user .";
  }
}

@media screen and (min-width: 1200px) {
  .main-header {
    grid-template-columns: 3% 1fr 1000px 1fr 3%;
    grid-template-areas: ". logo menu user .";
  }
}

.main-header__item1 {
  grid-area: logo;
  display: grid;
  align-self: center;
}

.imagen-menu {
  display: inline-block;
  height: 40px;
}

.main-header__item2 {
  grid-area: menu;
  align-self: center;
  justify-self: center;
  display: none;
}

@media screen and (min-width: 768px) {
  .main-header__item2 {
    display: inline-block;
  }
}

.main-menu-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu-list a {
  font-family: raleway;
  color: #F1F3F4;
  font-size: 20px;
  margin: 20px;
}

.main-header__item3 {
  grid-area: user;
  place-self: center;
  color: #F1F3F4;
  margin-top: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .main-header__item3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-header__item3 a {
  color: #F1F3F4;
  margin: 0 0.5rem;
  font-size: 13px;
}

.main-header__item4 {
  height: 2.5rem;
  display: grid;
  grid-area: toggle;
  place-self: center;
}

@media screen and (min-width: 768px) {
  .main-header__item4 {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .main-header__item4 {
    display: none;
  }
}

.main-menu-toggle {
  width: 2.5rem;
  height: 1.7rem;
  place-self: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, #F1F3F4), color-stop(18%, transparent), color-stop(41%, transparent), color-stop(41%, #F1F3F4), color-stop(59%, #F1F3F4), color-stop(59%, transparent), color-stop(82%, transparent), color-stop(82%, #F1F3F4), to(#F1F3F4));
  background: linear-gradient(#F1F3F4 18%, transparent 18%, transparent 41%, #F1F3F4 41%, #F1F3F4 59%, transparent 59%, transparent 82%, #F1F3F4 82%, #F1F3F4 100%);
}

/*# sourceMappingURL=styles.css.map */
