.carrito-producto
        .carrito-producto-item1
          img(src="/assets/img/polo-3.jpg", alt="polo")
          h2 Name del producto
          .boton-opcion-2: p S
        .carrito-producto-item2
          img(src="/assets/img/Caja.JPG", alt="caja")
          <input type="number" name="cantidad" min="1" placeholder="Cantidad">
          .precio
            p <del>S/. 15.00</del>
            p S/. 20.00
        .carrito-producto-item3
          .boton-opcion-3: p X
