footer.footer
  .footer-uno
    p Lorem ipsum dolor lorem ur, adipisicing elit. Minima doloribus nulla recusandae dolores doloremque distinctio ullam ipsum corrupti maiores accusantium quam facere, cum laudantium magnam harum dolor sunt explicabo modi.
    ul
      li Jair Conislla Bocangel jair.conislla@ibernel.com
      li Diaz Alvaro el mas naki
  .footer-dos
    .img-sello: img(src="/assets/img/Sello_1.1.png", alt="sello lacoraza")
    .footer-dos-icon <i class="far fa-copyright fa-3x"></i>
  .footer-tres
    .img-map: img(src="https://cde.peru.com//ima/0/1/6/1/9/1619750/924x530/google-maps.jpg", alt="")
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, quidem facilis suscipit 
