footer.footer
  p Lorem ipsum dolor lorem ur, adipisicing elit. Minima doloribus nulla recusandae dolores doloremque distinctio ullam ipsum corrupti maiores accusantium quam facere, cum laudantium magnam harum dolor sunt explicabo modi.
