header.main-header
  .main-header__item1
    img(src="/assets/img/logo.png", alt="").imagen-menu
  .main-header__item2
    include main-menu
  .main-header__item3
    a(href="/Carrito")
      <i class="fas fa-shopping-cart fa-2x"></i>
    a(href="#")
      <i class="fas fa-user fa-2x"></i>
    
  .main-header__item4
    .main-menu-toggle
    
    
