<div class="caja-producto">
  <div class="caja-producto-item1">
    <img src="https://cdn8.bigcommerce.com/s-ybxns/images/stencil/1024x1024/products/125/3519/g7s3k440_7_RegalBlue__06381.1525703565.png?c=2" alt="">
    <i class="fas fa-shopping-cart fa-2x"></i>
  </div>
  <div class="caja-producto-item2">
    <div class="caja-producto-item2_title">
      <h3>Polera consadas  </h3>
    </div>
    <div class="caja-producto-item2_precio">
      <p>S/199</p>
    </div>
  </div>
</div>
