extends ../config/template
append config
  -pageTitle = 'Inicio'
  -pageDescription = 'Pagina inicial de LaCoraza'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

prepend main  
  main.inicio-main.fondo_caja
  .caja1 
    img(src="/assets/img/logoletra.png", alt="")
  .separador1
  article.article_hombre
  .separador2
  article.article_mujer
  .separador3
  aside.snow
    