-let pageTitle = 'Home'
-let siteName = 'LaCoraza'
-let twitterAccount = '@edteamlat'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Inicio',
      url: '/',
      child: []
    },
    {
      title: 'Hombre',
      url: '/Hombre',
      child: []
    },
    {
      title: 'Mujer',
      url: '/Mujer',
      child: []
    },
    {
      title: 'Nosotros',
      url: '/Nosotros',
      child: []
    },
    {
      title: 'Contacto',
      url: '/Contacto',
      child: []
    },
    
  ]
