extends ../../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Productos para mujer'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  include ../../includes/main-menu
