extends ../../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Productos para mujer'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  .inicio-main.fondo_mujer
  .logoCentrado 
    img(src="/assets/img/logoletra.png", alt="")
  .separador1
  .fondo_productos
  article.article_productos
    .title_productos
      h2 Escoje el diseño que más te guste
    .contenedor  
      include ../../includes/producto         
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
  .separador2
  aside.snow
