extends ../../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Productos para mujer'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  main.inicio-main.fondo_mujer
  .caja1 
    img(src="/assets/img/logoletra.png", alt="")
  .separador1
  article.productos
    .contenedor 
      include ../../includes/producto         
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
      include ../../includes/producto
  .separador2
  aside.snow
