extends ../../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Productos para mujer'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  main.inicio-main.fondo_mujer
  .logoCentrado 
    img(src="/assets/img/logoletra.png", alt="")
  .separador1
  .productos
  article.contenedor
    .title_productos
      h2 Escoje el diseño que más te guste
    include ../../includes/producto         
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
  .separador2
  aside.snow
