.article_mujer{
  $position: right;
  height: 100vh;
  grid-column: 1 / 11;
  grid-row: #{$inicio}/ #{$inicio+$rows};

  background-image: url("/assets/img/fmujerxl.jpg");
  background-size: cover;
  background-position: 75% center;
  background-repeat: no-repeat; 

  @media screen and (min-width:$cel){
    height: 125vh;
    background-position: 75% center;
    
  
  }
  @media screen and (min-width:$tablet){
    height: calc(100vh);
    background-position: 70% center;
    
  }
  @media screen and (min-width:$laptop){
       grid-column: 1 / 13;  
  }
}
$inicio: $rows+$inicio;
