main{
  height: 100vh;
  grid-area: my-main;
  background-image: url("/assets/img/fmxl.jpg");
  background-size: cover;
  background-position: -100px center;
  background-repeat: no-repeat;
  @media screen and (min-width:$cel){
    background-position: left;
  }


  @media screen and (min-width:$laptop){
    background-position: left;
  }

}

.logo-main{
  margin: auto;
  margin-top: 1vh;
  width: 60%;
  max-width: 600px ;
  min-width: 200px ;
  margin-left: 35%;
  & img {
    display: inline-block;
  }
  @media screen and (min-width:$cel){
    min-width: 400px ;
    margin-left: 18vh;
    margin-top: 3vh;
  }
  @media screen and (min-width:$tablet){
    margin: auto;
    margin-top: 3vh;
  }
}
