
.inicio-main{
  background-color: color(claro);
  height: calc(100vh - 45px);
  grid-column: 1 / 11;
  grid-row: #{$inicio}/ #{$inicio+$rows};
  
  background-size: cover;
  background-position: -105px center;
  
  @media screen and (min-width:$cel){
    background-position: -105px center;
  
  }
  @media (max-width: $tablet) and (orientation: landscape) {
    background-position: center center;
    
    grid-row: #{$inicio}/ #{$inicio+$rows};
  }
  @media screen and (min-width:$laptop){
    height: calc(100vh - 50px);
    background-position: left;
    grid-column: 1 / 13;
    
    grid-row: #{$inicio}/ #{$inicio+$rows};
  }

}




.logo{
  
  height: calc((100vh - 45px)* 1 / #{$rows});
  display: grid;
  
  grid-row: 2 /3;
  grid-column: 4 / span 6;
  z-index: 2;
  
  & img{
    align-self: center;
    width: 100%;
    height: auto;
    @media (max-height: $laptop) and (orientation: landscape) {
      
        align-self: center;
       
           
  }}
  @media (max-height: $laptop) and (orientation: landscape) {
    background-position: center center;
    grid-row: 2 /4;
    height: calc((100vh - 50px)* 2 / #{$rows});
    
  }
  @media screen and (min-width:$tablet){
    grid-row: 2 /4;
    height: calc((100vh - 50px)* 2 / #{$rows});
  }
  @media screen and (min-width:$laptop){
   
  }
}


.logoCentrado{
  min-height: 80px;
  height: calc((100vh - 45px)* 1 / #{$rows});
  display: grid;
  
  grid-row: 2 /3;
  grid-column: 3 / span 6;
  z-index: 2;
  
  & img{
    align-self: center;
    width: 100%;
    height: auto;
    @media (max-height: $laptop) and (orientation: landscape) {
      
        align-self: center;
       
           
  }}
  @media (max-height: $laptop) and (orientation: landscape) {
    background-position: center center;
    grid-row: 2 /4;
    height: calc((100vh - 50px)* 2 / #{$rows});
    
  }
  @media screen and (min-width:$tablet){

    grid-row: 2 /4;
    height: calc((100vh - 50px)* 2 / #{$rows});
  }
  @media screen and (min-width:$laptop){
    min-height: 125px;
    grid-column: 4 / span 6;
  }
  
}
$inicio: $rows+$inicio;
