.layout{
  
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: grid;  
  grid-template-columns: repeat(10,1fr) ;
  grid-template-rows: 45px ;
    
  grid-template-areas:
    ".";

    @media screen and (min-width:$cel){    
      grid-template-rows: 50px ;
    }
  
    @media screen and (min-width:$tablet){      
      
    }
  
    @media screen and (min-width:$laptop){
      grid-template-columns: 1fr repeat(10,100px)  1fr;     
    }
}
$tamañoseparador:2.5rem;



$rows:10;
$inicio:2;

@import "perfil-producto";
@import "_carrito";
@import "_banner";
@import "_inicio-main";

@include separador(1,1);
$inicio:$inicio+1;

$rows:2;

@import "_productos";


$rows:5;
@import "_article-hombre";

@include separador(2,oscuro);
$inicio:$inicio+1;

$rows:5;
@import "_article-mujer";

@include separador(3,1);
$inicio:$inicio+1;

$rows:6;
@import "_snow";


@import "_footer";


