$fondo-caja: color(claro);
$fondo-total: color(fondo);
$border-caja: color(2);

.perfil_producto{
    grid-column: 1 / 11;
    grid-row: #{($inicio) + 2 }/ #{($inicio + $rows) - 1};
  
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(10,1fr);
    
    justify-items: center;
    align-items: top;
    @media screen and (min-width:$cel){
      background-color: $fondo-caja;
    }
    @media screen and (min-width:$tablet){
      box-shadow: 2px 3px 10px $border-caja, -1px -1px 10px $border-caja;
    min-height: 580px;
    height: calc((100vh - 45px)* 5 / #{$rows});
    }
    @media screen and (min-width : $laptop){
      
      grid-column: 2 / 12;
      background-color: $fondo-caja;
    }
  
    &-item1{
      &>h1{
        color: color(oscuro);
        margin-top: 3.5vh;
      }
      grid-column: 2 / 10;//grid-column: 2 / 6;
      font-family: $font-f-uno;
      &>img{
       
        width: 100%;
        height: auto;
         box-shadow: 2px 3px 10px color(1);
      }
    &-visor{
      margin-top: 0.7rem;
      
      height: 4rem;
      width: 100%;
      display: flex;
      justify-content: center;
      &-imgitem{
        background-color: black;
        border-radius: 50%;
         height: 50px;
         margin: 0.2rem;
        img{
         
          height: 50px;
          width: 50px;
          border-radius: 50%;
          box-shadow: 1px 1px 2px color(1),-1px -1px 2px color(1);
        
        }
        &:hover,.activeselect{
          img {
            opacity: 0.4;
        }  
        }
    }
  }

  @media screen and (min-width: $cel){
    grid-column: 3 /9;

  }
  @media screen and (min-width:$tablet){
    grid-column: 2 / 5
 
  }
  @media screen and (min-width:$laptop){
    grid-column: 2 / 6
   
  }
  

  }


  
  &-item2{
    grid-column: 2 / 10;
   //grid-column: 7 / 9  ;
    font-family: $font-f-dos;
    margin-bottom: 6vh;
    >h2{
      margin-top: 2vh;
     
      @media screen and (min-width:$laptop){
        margin-top:10vh
   
      }
    }
    >p{
      margin-bottom: 1rem;
    }
    &-cajas{
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: repeat(4,40px);
      justify-content: space-between;
      
    }
    &-tallas{
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: repeat(4,40px);
      justify-content: space-between;
      
    }
    &-cantidad{
      
      @media screen and (min-width:$tablet){
        margin-bottom: 0
        
     
      }
    }
    & input{
      width: 7rem;
      height: 1.8rem;
      border-radius: 2px;
      margin: 0.5rem 0;
    }
    @media screen and (min-width: $cel){
      grid-column: 3 /9;
  
    }
    @media screen and (min-width:$tablet){
      grid-column: 6 / 9  ;
      
   
    }
    @media screen and (min-width:$laptop){
      grid-column: 7 / 9  ;
   
    }
    
  }  

  &-item3{
  margin-top: 1vh;
  border-radius: 50%;
    grid-column: 3 / 9;
    height: 150px;
    width: 150px;
    
    img{
      height: 150px;
      width: 150px;
      border-radius: 50%;
      box-shadow: 2px 3px 10px color(1);
      border: 1px solid color(oscuro);
    }
   
    @media screen and (min-width:$tablet){
      margin-top: 4vh;
      grid-column: 9 /11;
      height: 125px;
      width: 125px;
      img{
        height: 125px;
        width: 125px;
        border-radius: 50%;
        
        
        
      }
    }
    @media screen and (min-width:$laptop){
      margin-top: 8vh;
      grid-column: 9 /11;
      height: 13535;
      width: 135px;
      img{
        height: 135px;
        width: 135px;
        border-radius: 50%;
        
      }
    }
}    




  @media screen and (min-width:$tablet){
    
    height: calc((100vh - 50px)* 7 / #{$rows});
  }
}



.fondo-producto{
  
  min-height: calc(100vh - 50px);
  
  grid-column: 1 / 11;
  grid-row: #{$inicio}/ #{$inicio+$rows};
  
  background-size: cover;
  background-position: -105px center;
  
  @media screen and (min-width:$cel){
    background-position: -105px center;
  
  }
  @media (max-width: $tablet) and (orientation: landscape) {
    background-position: center center;
    
    grid-row: #{$inicio}/ #{$inicio+$rows};
  }
  @media screen and (min-width:$tablet){
    background-color: $fondo-total;
  
  }
  @media screen and (min-width:$laptop){
    
    min-height: 780px;
    height: calc(100vh - 50px);
    background-position: left;
    grid-column: 1 / 13;
    
    grid-row: #{$inicio}/ #{$inicio+$rows};
  }

}
