extends ../../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Pagina inicial de EDboilerplate'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main     
  div.fondo-producto
  main.perfil_producto
