extends ../../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Pagina inicial de EDboilerplate'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main     
    main.inicio-main
      .logo-main
        img(src="/assets/img/logoletra.png", alt="")
    .separador1
    article.article_hombre
    .separador2
    article.article_mujer
    .separador3
    aside.aside
