extends ../../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Pagina inicial de EDboilerplate'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  main.inicio-main
  .fondo-carrito
  .logoCentrado
    img(src="/assets/img/logoletra.png", alt="La coraza")
  main.carrito
    .carrito-tittle: h1 Tu Carrito
    .carrito-listProducto
      include ../../includes/car-producto
      include ../../includes/car-producto
      include ../../includes/car-producto
      include ../../includes/car-producto
      include ../../includes/car-producto
      include ../../includes/car-producto
     
    .carrito-precio: p Precio Final: S/.<span>2000</span>
    .carrito-bottom
      .bottom: p Comprar

  .separador1
  .fondo_productos
  article.article_productos
    .title_productos
      h2 También te puede gustar
    .contenedor  
      include ../../includes/producto         
      include ../../includes/producto
      include ../../includes/producto
