extends ../../config/template
append config
  -pageTitle = 'Hombre'
  -pageDescription = 'Productos para hombre'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  main.inicio-main.fondo_hombre
  .caja1 
    img(src="/assets/img/logoletra.png", alt="")
  .separador2
  .productos
  .contenedor 
    include ../../includes/producto         
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
    include ../../includes/producto
    
  .separador1
  aside.snow
