extends ../../config/template
append config
  -pageTitle = 'Hombre'
  -pageDescription = 'Productos para hombre'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
    
