// Typography
$font-family: 'sans-serif';
$font-f-uno: 'Anton';
$font-f-dos: 'Raleway';

$colors:(
  primary_color : #46798E,
  secundary_color :#3C4043,
  color_fondo: #F1F3F4,
  color_verde: #008338,
  color_crema: #FFCF9D,

);
