// Typography
$font-family: 'sans-serif';
$font-f-uno: 'Anton';
$font-f-dos: 'Raleway';

$colors:(
  pri_color : #46798E,
  sec_color: #008338,
  ter_color: #FFCF9D,
  oscuro :#3C4043,
  claro: #F1F3F4,
);


$cel: 600px;
$tablet: 960px;
$laptop: 1264px;

