// Typography
$font-family: 'sans-serif';
$font-f-uno: 'Anton';
$font-f-dos: 'Raleway';

$colors:(
  pri_color : #46798E,
  sec_color: #A0C9C5,
  ter_color: #FFCF9D,
  oscuro:#3C4043,
  claro: #F1F3F4,
  fondo:hsl(228, 7%, 86%),
  
);


$cel: 540px;
$tablet: 814px;
$laptop:1010px;
$desk:1300px;

