


.title_productos{
  font-family: $font-f-uno, sans-serif;
  font-size: 16px;
  margin: 0;
  color: color(oscuro);
  @media screen and (min-width : $cel){
    
    font-size: 21px;
  
  }
  }
.caja-producto-item2_title{
  font-weight: 0;
}
.caja-producto-item2_precio{
  font-weight: bold;
}
