$font-pri: raleway;
$font-sec: Anton;


.title_productos{
  font-family: 'Anton', sans-serif;
  font-size: 21px;
  margin: 0;
  color: color(oscuro);
 
  }
.caja-producto-item2_title{
  font-weight: 0;
}
.caja-producto-item2_precio{
  font-weight: bold;
}
